<div class="container">
  <div class="puesto">
    <div class="puestoD"><H1>1</H1></div>
    <P>GHJ-123</P>
  </div>
  <div class="puesto">
    <div class="puestoD"><H1>2</H1></div>
    <P>GHJ-123</P>
  </div>
  <div class="puesto">
    <div class="puestoD"><H1>3</H1></div>
    <P>GHJ-123</P>
  </div>
  <div class="puesto">
    <div class="puestoD"><H1>4</H1></div>
    <P>GHJ-456</P>
  </div>
  <div class="puesto">
    <div class="puestoD"><H1>5</H1></div>
    <P>GHJ-789</P>
  </div>
  <div class="puesto">
    <div class="puestoD"><H1>6</H1></div>
    <P>GHJ-123</P>
  </div>
  <div class="puesto">
    <div class="puestoD"><H1>7</H1></div>
    <P>GHJ-123</P>
  </div>
  <div class="puesto">
    <div class="puestoD"><H1>8</H1></div>
    <P>GHJ-123</P>
  </div>
</div>
<div class="container2">
  <button class="comic1">Ocupados</button>
  <button class="comic2">Reserva</button>
  <button class="comic3">Desocupado</button>
</div>
<div class="display">
<button class="comicButton"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19 5L5 19M5 5l14 14" color="#ffffff"/></svg></button>
<button class="comic-button"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path fill="#ffffff" d="M5 21h14a2 2 0 0 0 2-2V8a1 1 0 0 0-.29-.71l-4-4A1 1 0 0 0 16 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2m10-2H9v-5h6zM13 7h-2V5h2zM5 5h2v4h8V5h.59L19 8.41V19h-2v-5a2 2 0 0 0-2-2H9a2 2 0 0 0-2 2v5H5z"/></svg></button>
</div>
