<div class="container-fondo">
  <div class="container-menu">
    <div class="menu-izquierda">
      <img src="../../assets/img/vehiculo.png" alt="5156156165165">
    </div>
    <div class="menu-derecha">
      <h1>Hola! Buenos Dias</h1>
      <div class="login">
        <form class="loginMas" action="">
          <span>Crear Cuenta</span>
          <label for="contraseña"></label>
          <input type="text" placeholder="Username">
          <label for="contraseña"></label>
          <input type="text" placeholder="Password">
          <button class="comic-button">Presionar</button>
        </form>
      </div>
    </div>
  </div>
</div>

