.container{
  background-color: #292929;;
  color: #ffffff;
  height: 100%;
  width: 15em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all ease-in-out 0.5s;
}

.menu-button{
  display: flex;
  flex-direction: row;
  width:fit-content;
  margin-right: auto;
  background-color: transparent;

  svg{
    width: 60px;
    height: 60px;
    path{
      fill: #ffffff;
    }
  }
}

img{
  height: 150px;
  width: 200px;
  display: flex;
  justify-self: center;
  margin-block: 1em;
}

button{
  position: relative;
  display: flex;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

svg {
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 10px;
  path{
    fill: #ffffff;
  }
}

.icono1{
  width: 40px;
  height: 40px;
  path{
    fill: none;
  }
}
.icono{
  width: 40px;
  height: 40px;
  path{
    fill: #ffffff;
  }
}

.svg3{
  display: grid;
  justify-self: center;
  width: 40px;
  height: 40px;
    path{
      fill: #ffffff;
    }
}

.containerDentro{
  color: #ffffff;
  padding: 0;
  display: flex;
  align-items: end;
  height: 40vh;
  width: 100%;
}

ul{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  list-style-type: none;
  width: 100%;
}

ul li a{
  overflow: hidden;
  color: #ffffff;
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
  gap: 1em;
  padding-left:1em;
}

.menuSelection{
  background-color: #292929;
  text-decoration: none;
  width: 100%;
  height: 8vh;
  display: flex;
}

.menuSelection:hover{
  background-color: #525252;
  color: rgb(255, 255, 255);
  box-shadow: none;
  transform: translateY(1px);
  transition: all 0.3s ease;
}

.comic-button {
  display: grid;
  cursor: pointer;
  align-items: center;
  justify-self: center;
  width: 80%;
  height: 2.5em;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  background-color: #f5d400;
  border-radius: 10px;
  transition: all 0.3s ease;
  margin-block: 2.5em;
}

.comic-button:hover{
  filter: brightness(0.9);
  color: rgb(255, 255, 255);
  transform: translateY(-4px);
  transition: all 0.3s ease;
}

.inactive{
  transition: all ease-in-out 0.5s;
  width: 0;
  //display: none;
}
