<div class="container-fondo">
  <div class="container-menu">
    <div class="menu-izquierda">
      <img src="../../assets/img/vehiculo.png" alt="">
    </div>
    <div class="menu-derecha">
      <h1>Hola! Buenos Dias</h1>
      <div class="login">
        <form class="loginMas" action="">
          <span>Inicio de Sesión</span>
          <label for="correo electronico"></label>
          <input type="text" placeholder="Username">
          <label for="contraseña"></label>
          <input type="text" placeholder="Password">
          <p><a class="crear" href=""></a></p>
          <button class="comic-button">Login</button>
          <p>Don't have on account? <a class="crear" href="http://localhost:4200/login-Nuevo">Register</a></p>
        </form>
      </div>
    </div>
  </div>
</div>



