<div class="container-fondo">
  <div class="container-menu">
    <div class="menu-izquierda">
      <img src="../../assets/img/vehiculo.png" alt>
    </div>
    <div class="menu-derecha">
      <div class="login-container">
        <form class="login-form" action [formGroup]="loginForm" (ngSubmit)="login()">
          <span>Inicio de Sesión</span>
          <div class="label-contenedor">
            <div class="input-contenedor">
              <input type="text" placeholder="Usuario" formControlName="username" required>
            </div>
            <div class="input-contenedor">
              <input type="text" placeholder="Contraseña" formControlName="password" required>
            </div>
            <div class="input-contenedor">
              <label class="label-olvidar">¿Olvidaste tu contraseña?</label>
            </div>
          </div>
          <button class="comic-button">Iniciar Sesion</button>
        </form>
      </div>
    </div>
  </div>
</div>
