.container-fondo {
  background-color: #383837;
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container-menu {
  background-color: #383837;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 70%;
  height: 80%;
  border-radius: 20px;
  padding: 2em;
  transition: all 1s;

  .menu-izquierda {
    background-color: #292929;
    border-radius: 15px 0px 0px 15px;
    padding: 2em 1 0 0;
  }

  .login-container {
    background-color: #ffffff;
    display: inline-block;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    outline: none;
    border: solid 1px black;
  }

  .login-form {
    background-color: #ffffff;
    color: #383837;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }

  img {
    height: 300px;
    width: 400px;
    display: flex;
    justify-self: center;
    margin: 30%;
  }

  .menu-derecha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 15px 15px 0px;
    padding: 2em;
  }

  @media screen and (max-width: 767px) {
    .menu-derecha {
      transition: all 1s;

      background-color: gray;
    }
  }

  span {
    color: #292929;
    display: flex;
    padding-top: 1em;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
}

h1 {
  display: flex;
  font-family: "" Arial Narrow Bold ", sans-serif";
}

.comic-button {
  display: inline-block;
  width: 70%;
  height: 5vh;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  background-color: #f5d400;
  border: 2px solid #f5d400;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #e0c200;
  transition: all 0.3s ease;
}

.comic-button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  border: 2px solid#f5d400;
  box-shadow: 5px 5px 0px #f5d400;
}

.comic-button:hover {
  background-color: #f5d400;
  box-shadow: none;
  transform: translateY(4px);
}

.label-contenedor {
  display:flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0.5em 0;
}

.input-contenedor {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 7rem;
  input {
    background-color: #f1f1f1;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 0 0 #959595;
    transition: all 0.3s ease;
    height: 2.5em;
    width: auto;
    padding: 1em;
    &:focus {
      outline: none;
    }
  }
}
