<div class="container-fondo">
  <div class="container-menu">
    <div class="menu-izquierda">
      <img src="../../assets/img/vehiculo.png" alt>
    </div>
    <div class="menu-derecha">
      <div class="login-container">
        <form class="login-form" action>
          <span>Inicio de Sesión</span>

          <div class="label-contenedor">
            <div class="input-contenedor">
              <label for="correo electronico">usuario</label>
              <input type="text" placeholder="Username">
            </div>
            <div class="input-contenedor">
              <label for="contraseña">contraseña</label>
              <input type="text" placeholder="Password">
            </div>
          </div>

          <button class="comic-button">Iniciar Sesion</button>
        </form>
      </div>
    </div>
  </div>
</div>
